// phone
$screen-xs: 480px;

// tablet
$screen-sm: 768px;

// desktop
$screen-md: 992px;

// wide desktop
$screen-lg: 1200px;

// desktop xl
$screen-xl: 1470px;

$screens: (
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1470px
);
