// global color
$global-color: #000;
$global-color-darker: lighten($global-color, 13.5%); // #222
$global-color-dark: lighten($global-color, 20%); // #333
$global-color-base: lighten($global-color, 33.5%); // #555
$global-color-light: lighten($global-color, 46.7%); // #777
$global-color-lighter: lighten($global-color, 93.5%); // #eee

// site theme color
$site-base: #1b72b1;
$site-second: #1b72b1;
$site-third: #06668f;
$site-light: $site-second;
$site-dark: $site-third;

// Background color
$bg-base: #ffffff;
$bg-light: #e2e2e2;
$bg-lighter: #f5f5f5;
$bg-dark: #555555;
$bg-darker: #333333;

/* Border**/
$border-color: rgba(25, 25, 25, 0.32);
$border-color-dark: rgba(25, 25, 25, 0.6);
$border-color-darker: rgba(25, 25, 25, 0.75);

// STATE Colors
$color-primary: $site-base;
$color-primary-bg: lighten($site-base, 33.5%);

$color-success: #4caf50;
$color-success-bg: lighten($color-success, 33.5%);

$color-info: #03a9f4;
$color-info-bg: lighten($color-info, 33.5%);

$color-warning: #fbc02d;
$color-warning-bg: lighten($color-warning, 33.5%);

$color-error: #f44339;
$color-error-bg: lighten($color-error, 33.5%);
