/*
 * Global color
**/
$color-base: #555555;
$color-dark: #333333;
$color-darker: #222222;
$color-light: #777777;
$color-lighter: #999999;

/*
 * Site primary color
**/
$site-base: #1b72b1;
$site-second: #1b72b1;
$site-third: #06668f;
$color-primary: $site-base;
$color-second: $site-second;
$color-third: $site-third;
$color-black: #000000;
$color-white: #ffffff;

/*
 * Status color
**/
$color-success: #4caf50;
$color-info: #0c1011;
$color-warning: #fbc02d;
$color-error: #f44339;
