/* Font size**/
$font-size: 14px;
$font-size-larger: (24 / 14 * 1rem);
$font-size-larg: (18 / 14 * 1rem);
$font-size-small: (13 / 14 * 1rem);
$font-size-mini: (12 / 14 * 1rem);

/* Title**/
$h1: (36 / 14 * 1rem);
$h2: (30 / 14 * 1rem);
$h3: (24 / 14 * 1rem);
$h4: (18 / 14 * 1rem);
$h5: (14 / 14 * 1rem);
$h6: (12 / 14 * 1rem);

/* Font family**/
$font-family: 'Segoe UI', 'Lucida Grande', Helvetica, 'Microsoft YaHei', '微软雅黑', FreeSans, 'Hiragino Sans GB', 'Hiragino Sans GB W3', Arial, sans-serif;
$font-family-title: 'Microsoft YaHei', '微软雅黑', 'Montserrat', 'Helvetica', 'Lucida Grande', 'Lucida Sans', STXihei, '华文细黑', sans-serif;

/* Text**/
$text-color-darker: $global-color;
$text-color-dark: $global-color-darker;
$text-color: rgba(0, 0, 0, 0.6); // 中强调文字和提示文字 #212121
$header-color: rgba(0, 0, 0, 0.87); // 高强调文字 #616161
$disable-color: rgba(0, 0, 0, 0.38); // 禁用文字 #9e9e9e
$text-color-light: $global-color-light;
$text-color-lighter: $global-color-lighter;
$text-primary: $site-base;
