/*
 * background color
**/
@each $name, $value in map.get($background, "color") {
  @for $var from 1 to 10 {
    @include tw-mixins($selector: bg-#{$name}-#{$var * 10}) {
      background-color: rgba($value, $var * 0.1);
    }
  }
  @include tw-mixins($selector: bg-#{$name}) {
    background-color: $value;
  }
}

/*
 * backgroundd attachment
**/
@each $name, $value in map.get($background, "attachment") {
  @include tw-mixins($selector: bg-#{$name}) {
    background-attachment: $value;
  }
}

/*
 * backgroundd clip
**/
@each $name, $value in map.get($background, "clip") {
  @include tw-mixins($selector: bg-clip-#{$name}) {
    background-clip: $value;
  }
}

/*
 * backgroundd position
**/
@each $name, $value in map.get($background, "position") {
  @include tw-mixins($selector: bg-#{$name}) {
    background-position: $value;
  }
}

/*
 * backgroundd repeat
**/
@each $name, $value in map.get($background, "repeat") {
  @include tw-mixins($selector: bg-#{$name}) {
    background-repeat: $value;
  }
}

/*
 * backgroundd size
**/
@each $name, $value in map.get($background, "size") {
  @include tw-mixins($selector: bg-#{$name}) {
    background-size: $value;
  }
}
