/*
 * Cursor
**/
@each $name, $value in map.get($interactivity, "cursor") {
  @include tw-mixins($selector: cursor-#{$name}) {
    cursor: $value;
  }
}

/*
* Outline
**/
@each $name, $value in map.get($interactivity, "outline") {
  @include tw-mixins($selector: outline-#{$name}, $hover: true, $focus: true) {
    outline: $outline-size-default solid $value;
    outline-offset: $outline-offset-default;
  }
}

/*
* Pointer events
**/
@each $name, $value in map.get($interactivity, "pointer-events") {
  @include tw-mixins($selector: pointer-events-#{$name}) {
    pointer-events: $value;
  }
}

/*
* Resize
**/
@each $name, $value in map.get($interactivity, "resize") {
  @include tw-mixins($selector: #{$name}) {
    resize: $value;
  }
}

/*
* User select
**/
@each $name, $value in map.get($interactivity, "user-select") {
  @include tw-mixins($selector: select-#{$name}) {
    user-select: $value;
  }
}
