/*
 * Width
**/
@each $name, $value in map.get($sizing, "width") {
  @include tw-mixins($selector: w-#{$name}) {
    width: $value;
  }
}
@each $screen-name, $screen-value in $screens {
  @media (min-width: $screen-value) {
    @each $name, $value in map.get($sizing, "width") {
      @include tw-mixins($selector: w-#{$name}, $screen: $screen-name) {
        width: $value;
      }
    }
  }
}

/*
 * Height
**/
@each $name, $value in map.get($sizing, "height") {
  @include tw-mixins($selector: h-#{$name}) {
    height: $value;
  }
}
@each $screen-name, $screen-value in $screens {
  @media (min-width: $screen-value) {
    @each $name, $value in map.get($sizing, "height") {
      @include tw-mixins($selector: h-#{$name}, $screen: $screen-name) {
        height: $value;
      }
    }
  }
}

/*
 * Min width
**/
@each $name, $value in map.get($sizing, "min-width") {
  @include tw-mixins($selector: min-w-#{$name}) {
    min-width: $value;
  }
}

/*
 * Max width
**/
@each $name, $value in map.get($sizing, "max-width") {
  @include tw-mixins($selector: max-w-#{$name}) {
    max-width: $value;
  }
}

/*
 * Min height
**/
@each $name, $value in map.get($sizing, "min-height") {
  @include tw-mixins($selector: min-h-#{$name}) {
    min-height: $value;
  }
}

/*
 * Max height
**/
@each $name, $value in map.get($sizing, "max-height") {
  @include tw-mixins($selector: max-h-#{$name}) {
    max-height: $value;
  }
}

