/*
 * Width
**/
// Keyword
@include tw-width(auto, auto);
@include tw-width(min, min-content);
@include tw-width(max, max-content);
@include tw-width(full, 100%);
@include tw-width(screen, 100vw);
// Percent
@include tw-width('1\/12', (1 / 12 * 100%));
@include tw-width('2\/12', (2 / 12 * 100%));
@include tw-width('3\/12', (3 / 12 * 100%));
@include tw-width('4\/12', (4 / 12 * 100%));
@include tw-width('5\/12', (5 / 12 * 100%));
@include tw-width('6\/12', (6 / 12 * 100%));
@include tw-width('7\/12', (7 / 12 * 100%));
@include tw-width('8\/12', (8 / 12 * 100%));
@include tw-width('9\/12', (9 / 12 * 100%));
@include tw-width('10\/12', (10 / 12 * 100%));
@include tw-width('11\/12', (11 / 12 * 100%));
@include tw-width('1\/5', (1 / 5 * 100%));
@include tw-width('2\/5', (2 / 5 * 100%));
@include tw-width('3\/5', (3 / 5 * 100%));
@include tw-width('4\/5', (4 / 5 * 100%));
// Pixel
@include tw-width(0, 0px);
@include tw-width(5, 5px);
@include tw-width(10, 10px);
@include tw-width(15, 15px);
@include tw-width(20, 20px);
@include tw-width(25, 25px);
@include tw-width(30, 30px);
@include tw-width(35, 35px);
@include tw-width(40, 40px);
@include tw-width(45, 45px);
@include tw-width(50, 50px);
@include tw-width(55, 55px);
@include tw-width(60, 60px);
@include tw-width(65, 65px);
@include tw-width(70, 70px);
@include tw-width(75, 75px);
@include tw-width(80, 80px);
@include tw-width(85, 85px);
@include tw-width(90, 90px);
@include tw-width(95, 95px);
@include tw-width(100, 100px);
@include tw-width(105, 105px);
@include tw-width(110, 110px);
@include tw-width(115, 115px);
@include tw-width(120, 120px);
@media (min-width: $screen-sm) {
  $screens: 'sm';
  // Keyword
  @include tw-width(auto, auto, $screens: $screens);
  @include tw-width(min, min-content, $screens: $screens);
  @include tw-width(max, max-content, $screens: $screens);
  @include tw-width(full, 100%, $screens: $screens);
  @include tw-width(screen, 100vw, $screens: $screens);
  // Percent
  @include tw-width('1\/12', (1 / 12 * 100%), $screens: $screens);
  @include tw-width('2\/12', (2 / 12 * 100%), $screens: $screens);
  @include tw-width('3\/12', (3 / 12 * 100%), $screens: $screens);
  @include tw-width('4\/12', (4 / 12 * 100%), $screens: $screens);
  @include tw-width('5\/12', (5 / 12 * 100%), $screens: $screens);
  @include tw-width('6\/12', (6 / 12 * 100%), $screens: $screens);
  @include tw-width('7\/12', (7 / 12 * 100%), $screens: $screens);
  @include tw-width('8\/12', (8 / 12 * 100%), $screens: $screens);
  @include tw-width('9\/12', (9 / 12 * 100%), $screens: $screens);
  @include tw-width('10\/12', (10 / 12 * 100%), $screens: $screens);
  @include tw-width('11\/12', (11 / 12 * 100%), $screens: $screens);
  @include tw-width('1\/5', (1 / 5 * 100%), $screens: $screens);
  @include tw-width('2\/5', (2 / 5 * 100%), $screens: $screens);
  @include tw-width('3\/5', (3 / 5 * 100%), $screens: $screens);
  @include tw-width('4\/5', (4 / 5 * 100%), $screens: $screens);
  // Pixel
  @include tw-width(0, 0px, $screens: $screens);
  @include tw-width(5, 5px, $screens: $screens);
  @include tw-width(10, 10px, $screens: $screens);
  @include tw-width(15, 15px, $screens: $screens);
  @include tw-width(20, 20px, $screens: $screens);
  @include tw-width(25, 25px, $screens: $screens);
  @include tw-width(30, 30px, $screens: $screens);
  @include tw-width(35, 35px, $screens: $screens);
  @include tw-width(40, 40px, $screens: $screens);
  @include tw-width(45, 45px, $screens: $screens);
  @include tw-width(50, 50px, $screens: $screens);
  @include tw-width(55, 55px, $screens: $screens);
  @include tw-width(60, 60px, $screens: $screens);
  @include tw-width(65, 65px, $screens: $screens);
  @include tw-width(70, 70px, $screens: $screens);
  @include tw-width(75, 75px, $screens: $screens);
  @include tw-width(80, 80px, $screens: $screens);
  @include tw-width(85, 85px, $screens: $screens);
  @include tw-width(90, 90px, $screens: $screens);
  @include tw-width(95, 95px, $screens: $screens);
  @include tw-width(100, 100px, $screens: $screens);
  @include tw-width(105, 105px, $screens: $screens);
  @include tw-width(110, 110px, $screens: $screens);
  @include tw-width(115, 115px, $screens: $screens);
  @include tw-width(120, 120px, $screens: $screens);
}
@media (min-width: $screen-md) {
  $screens: 'md';
  // Keyword
  @include tw-width(auto, auto, $screens: $screens);
  @include tw-width(min, min-content, $screens: $screens);
  @include tw-width(max, max-content, $screens: $screens);
  @include tw-width(full, 100%, $screens: $screens);
  @include tw-width(screen, 100vw, $screens: $screens);
  // Percent
  @include tw-width('1\/12', (1 / 12 * 100%), $screens: $screens);
  @include tw-width('2\/12', (2 / 12 * 100%), $screens: $screens);
  @include tw-width('3\/12', (3 / 12 * 100%), $screens: $screens);
  @include tw-width('4\/12', (4 / 12 * 100%), $screens: $screens);
  @include tw-width('5\/12', (5 / 12 * 100%), $screens: $screens);
  @include tw-width('6\/12', (6 / 12 * 100%), $screens: $screens);
  @include tw-width('7\/12', (7 / 12 * 100%), $screens: $screens);
  @include tw-width('8\/12', (8 / 12 * 100%), $screens: $screens);
  @include tw-width('9\/12', (9 / 12 * 100%), $screens: $screens);
  @include tw-width('10\/12', (10 / 12 * 100%), $screens: $screens);
  @include tw-width('11\/12', (11 / 12 * 100%), $screens: $screens);
  @include tw-width('1\/5', (1 / 5 * 100%), $screens: $screens);
  @include tw-width('2\/5', (2 / 5 * 100%), $screens: $screens);
  @include tw-width('3\/5', (3 / 5 * 100%), $screens: $screens);
  @include tw-width('4\/5', (4 / 5 * 100%), $screens: $screens);
  // Pixel
  @include tw-width(0, 0px, $screens: $screens);
  @include tw-width(5, 5px, $screens: $screens);
  @include tw-width(10, 10px, $screens: $screens);
  @include tw-width(15, 15px, $screens: $screens);
  @include tw-width(20, 20px, $screens: $screens);
  @include tw-width(25, 25px, $screens: $screens);
  @include tw-width(30, 30px, $screens: $screens);
  @include tw-width(35, 35px, $screens: $screens);
  @include tw-width(40, 40px, $screens: $screens);
  @include tw-width(45, 45px, $screens: $screens);
  @include tw-width(50, 50px, $screens: $screens);
  @include tw-width(55, 55px, $screens: $screens);
  @include tw-width(60, 60px, $screens: $screens);
  @include tw-width(65, 65px, $screens: $screens);
  @include tw-width(70, 70px, $screens: $screens);
  @include tw-width(75, 75px, $screens: $screens);
  @include tw-width(80, 80px, $screens: $screens);
  @include tw-width(85, 85px, $screens: $screens);
  @include tw-width(90, 90px, $screens: $screens);
  @include tw-width(95, 95px, $screens: $screens);
  @include tw-width(100, 100px, $screens: $screens);
  @include tw-width(105, 105px, $screens: $screens);
  @include tw-width(110, 110px, $screens: $screens);
  @include tw-width(115, 115px, $screens: $screens);
  @include tw-width(120, 120px, $screens: $screens);
}
@media (min-width: $screen-lg) {
  $screens: 'lg';
  // Keyword
  @include tw-width(auto, auto, $screens: $screens);
  @include tw-width(min, min-content, $screens: $screens);
  @include tw-width(max, max-content, $screens: $screens);
  @include tw-width(full, 100%, $screens: $screens);
  @include tw-width(screen, 100vw, $screens: $screens);
  // Percent
  @include tw-width('1\/12', (1 / 12 * 100%), $screens: $screens);
  @include tw-width('2\/12', (2 / 12 * 100%), $screens: $screens);
  @include tw-width('3\/12', (3 / 12 * 100%), $screens: $screens);
  @include tw-width('4\/12', (4 / 12 * 100%), $screens: $screens);
  @include tw-width('5\/12', (5 / 12 * 100%), $screens: $screens);
  @include tw-width('6\/12', (6 / 12 * 100%), $screens: $screens);
  @include tw-width('7\/12', (7 / 12 * 100%), $screens: $screens);
  @include tw-width('8\/12', (8 / 12 * 100%), $screens: $screens);
  @include tw-width('9\/12', (9 / 12 * 100%), $screens: $screens);
  @include tw-width('10\/12', (10 / 12 * 100%), $screens: $screens);
  @include tw-width('11\/12', (11 / 12 * 100%), $screens: $screens);
  @include tw-width('1\/5', (1 / 5 * 100%), $screens: $screens);
  @include tw-width('2\/5', (2 / 5 * 100%), $screens: $screens);
  @include tw-width('3\/5', (3 / 5 * 100%), $screens: $screens);
  @include tw-width('4\/5', (4 / 5 * 100%), $screens: $screens);
  // Pixel
  @include tw-width(0, 0px, $screens: $screens);
  @include tw-width(5, 5px, $screens: $screens);
  @include tw-width(10, 10px, $screens: $screens);
  @include tw-width(15, 15px, $screens: $screens);
  @include tw-width(20, 20px, $screens: $screens);
  @include tw-width(25, 25px, $screens: $screens);
  @include tw-width(30, 30px, $screens: $screens);
  @include tw-width(35, 35px, $screens: $screens);
  @include tw-width(40, 40px, $screens: $screens);
  @include tw-width(45, 45px, $screens: $screens);
  @include tw-width(50, 50px, $screens: $screens);
  @include tw-width(55, 55px, $screens: $screens);
  @include tw-width(60, 60px, $screens: $screens);
  @include tw-width(65, 65px, $screens: $screens);
  @include tw-width(70, 70px, $screens: $screens);
  @include tw-width(75, 75px, $screens: $screens);
  @include tw-width(80, 80px, $screens: $screens);
  @include tw-width(85, 85px, $screens: $screens);
  @include tw-width(90, 90px, $screens: $screens);
  @include tw-width(95, 95px, $screens: $screens);
  @include tw-width(100, 100px, $screens: $screens);
  @include tw-width(105, 105px, $screens: $screens);
  @include tw-width(110, 110px, $screens: $screens);
  @include tw-width(115, 115px, $screens: $screens);
  @include tw-width(120, 120px, $screens: $screens);
}
@media (min-width: $screen-xl) {
  $screens: 'xl';
  // Keyword
  @include tw-width(auto, auto, $screens: $screens);
  @include tw-width(min, min-content, $screens: $screens);
  @include tw-width(max, max-content, $screens: $screens);
  @include tw-width(full, 100%, $screens: $screens);
  @include tw-width(screen, 100vw, $screens: $screens);
  // Percent
  @include tw-width('1\/12', (1 / 12 * 100%), $screens: $screens);
  @include tw-width('2\/12', (2 / 12 * 100%), $screens: $screens);
  @include tw-width('3\/12', (3 / 12 * 100%), $screens: $screens);
  @include tw-width('4\/12', (4 / 12 * 100%), $screens: $screens);
  @include tw-width('5\/12', (5 / 12 * 100%), $screens: $screens);
  @include tw-width('6\/12', (6 / 12 * 100%), $screens: $screens);
  @include tw-width('7\/12', (7 / 12 * 100%), $screens: $screens);
  @include tw-width('8\/12', (8 / 12 * 100%), $screens: $screens);
  @include tw-width('9\/12', (9 / 12 * 100%), $screens: $screens);
  @include tw-width('10\/12', (10 / 12 * 100%), $screens: $screens);
  @include tw-width('11\/12', (11 / 12 * 100%), $screens: $screens);
  @include tw-width('1\/5', (1 / 5 * 100%), $screens: $screens);
  @include tw-width('2\/5', (2 / 5 * 100%), $screens: $screens);
  @include tw-width('3\/5', (3 / 5 * 100%), $screens: $screens);
  @include tw-width('4\/5', (4 / 5 * 100%), $screens: $screens);
  // Pixel
  @include tw-width(0, 0px, $screens: $screens);
  @include tw-width(5, 5px, $screens: $screens);
  @include tw-width(10, 10px, $screens: $screens);
  @include tw-width(15, 15px, $screens: $screens);
  @include tw-width(20, 20px, $screens: $screens);
  @include tw-width(25, 25px, $screens: $screens);
  @include tw-width(30, 30px, $screens: $screens);
  @include tw-width(35, 35px, $screens: $screens);
  @include tw-width(40, 40px, $screens: $screens);
  @include tw-width(45, 45px, $screens: $screens);
  @include tw-width(50, 50px, $screens: $screens);
  @include tw-width(55, 55px, $screens: $screens);
  @include tw-width(60, 60px, $screens: $screens);
  @include tw-width(65, 65px, $screens: $screens);
  @include tw-width(70, 70px, $screens: $screens);
  @include tw-width(75, 75px, $screens: $screens);
  @include tw-width(80, 80px, $screens: $screens);
  @include tw-width(85, 85px, $screens: $screens);
  @include tw-width(90, 90px, $screens: $screens);
  @include tw-width(95, 95px, $screens: $screens);
  @include tw-width(100, 100px, $screens: $screens);
  @include tw-width(105, 105px, $screens: $screens);
  @include tw-width(110, 110px, $screens: $screens);
  @include tw-width(115, 115px, $screens: $screens);
  @include tw-width(120, 120px, $screens: $screens);
}

/*
 * Min width
**/
@include tw-min-width(0, 0px);
@include tw-min-width(full, 100%);
@include tw-min-width(min, min-content);
@include tw-min-width(max, max-content);

/*
 * Max width
**/
@include tw-max-width(0, 0px);
@include tw-max-width(none, none);
@include tw-max-width(full, 100%);
@include tw-max-width(min, min-content);
@include tw-max-width(max, max-content);

/*
 * Height
**/
@include tw-height(0, 0px);
@include tw-height(full, 100%);
@include tw-height(screen, 100vh);
// Pixel
@include tw-height(0, 0px);
@include tw-height(5, 5px);
@include tw-height(10, 10px);
@include tw-height(15, 15px);
@include tw-height(20, 20px);
@include tw-height(25, 25px);
@include tw-height(30, 30px);
@include tw-height(35, 35px);
@include tw-height(40, 40px);
@include tw-height(45, 45px);
@include tw-height(50, 50px);
@include tw-height(55, 55px);
@include tw-height(60, 60px);
@include tw-height(65, 65px);
@include tw-height(70, 70px);
@include tw-height(75, 75px);
@include tw-height(80, 80px);
@include tw-height(85, 85px);
@include tw-height(90, 90px);
@include tw-height(95, 95px);
@include tw-height(100, 100px);
@include tw-height(105, 105px);
@include tw-height(110, 110px);
@include tw-height(115, 115px);
@include tw-height(120, 120px);
@media (min-width: $screen-sm) {
  $screens: 'sm';
  @include tw-height(0, 0px, $screens: $screens);
  @include tw-height(full, 100%, $screens: $screens);
  @include tw-height(screen, 100vh, $screens: $screens);
  // Pixel
  @include tw-height(0, 0px, $screens: $screens);
  @include tw-height(5, 5px, $screens: $screens);
  @include tw-height(10, 10px, $screens: $screens);
  @include tw-height(15, 15px, $screens: $screens);
  @include tw-height(20, 20px, $screens: $screens);
  @include tw-height(25, 25px, $screens: $screens);
  @include tw-height(30, 30px, $screens: $screens);
  @include tw-height(35, 35px, $screens: $screens);
  @include tw-height(40, 40px, $screens: $screens);
  @include tw-height(45, 45px, $screens: $screens);
  @include tw-height(50, 50px, $screens: $screens);
  @include tw-height(55, 55px, $screens: $screens);
  @include tw-height(60, 60px, $screens: $screens);
  @include tw-height(65, 65px, $screens: $screens);
  @include tw-height(70, 70px, $screens: $screens);
  @include tw-height(75, 75px, $screens: $screens);
  @include tw-height(80, 80px, $screens: $screens);
  @include tw-height(85, 85px, $screens: $screens);
  @include tw-height(90, 90px, $screens: $screens);
  @include tw-height(95, 95px, $screens: $screens);
  @include tw-height(100, 100px, $screens: $screens);
  @include tw-height(105, 105px, $screens: $screens);
  @include tw-height(110, 110px, $screens: $screens);
  @include tw-height(115, 115px, $screens: $screens);
  @include tw-height(120, 120px, $screens: $screens);
}
@media (min-width: $screen-md) {
  $screens: 'md';
  @include tw-height(0, 0px, $screens: $screens);
  @include tw-height(full, 100%, $screens: $screens);
  @include tw-height(screen, 100vh, $screens: $screens);
  // Pixel
  @include tw-height(0, 0px, $screens: $screens);
  @include tw-height(5, 5px, $screens: $screens);
  @include tw-height(10, 10px, $screens: $screens);
  @include tw-height(15, 15px, $screens: $screens);
  @include tw-height(20, 20px, $screens: $screens);
  @include tw-height(25, 25px, $screens: $screens);
  @include tw-height(30, 30px, $screens: $screens);
  @include tw-height(35, 35px, $screens: $screens);
  @include tw-height(40, 40px, $screens: $screens);
  @include tw-height(45, 45px, $screens: $screens);
  @include tw-height(50, 50px, $screens: $screens);
  @include tw-height(55, 55px, $screens: $screens);
  @include tw-height(60, 60px, $screens: $screens);
  @include tw-height(65, 65px, $screens: $screens);
  @include tw-height(70, 70px, $screens: $screens);
  @include tw-height(75, 75px, $screens: $screens);
  @include tw-height(80, 80px, $screens: $screens);
  @include tw-height(85, 85px, $screens: $screens);
  @include tw-height(90, 90px, $screens: $screens);
  @include tw-height(95, 95px, $screens: $screens);
  @include tw-height(100, 100px, $screens: $screens);
  @include tw-height(105, 105px, $screens: $screens);
  @include tw-height(110, 110px, $screens: $screens);
  @include tw-height(115, 115px, $screens: $screens);
  @include tw-height(120, 120px, $screens: $screens);
}
@media (min-width: $screen-lg) {
  $screens: 'lg';
  @include tw-height(0, 0px, $screens: $screens);
  @include tw-height(full, 100%, $screens: $screens);
  @include tw-height(screen, 100vh, $screens: $screens);
  // Pixel
  @include tw-height(0, 0px, $screens: $screens);
  @include tw-height(5, 5px, $screens: $screens);
  @include tw-height(10, 10px, $screens: $screens);
  @include tw-height(15, 15px, $screens: $screens);
  @include tw-height(20, 20px, $screens: $screens);
  @include tw-height(25, 25px, $screens: $screens);
  @include tw-height(30, 30px, $screens: $screens);
  @include tw-height(35, 35px, $screens: $screens);
  @include tw-height(40, 40px, $screens: $screens);
  @include tw-height(45, 45px, $screens: $screens);
  @include tw-height(50, 50px, $screens: $screens);
  @include tw-height(55, 55px, $screens: $screens);
  @include tw-height(60, 60px, $screens: $screens);
  @include tw-height(65, 65px, $screens: $screens);
  @include tw-height(70, 70px, $screens: $screens);
  @include tw-height(75, 75px, $screens: $screens);
  @include tw-height(80, 80px, $screens: $screens);
  @include tw-height(85, 85px, $screens: $screens);
  @include tw-height(90, 90px, $screens: $screens);
  @include tw-height(95, 95px, $screens: $screens);
  @include tw-height(100, 100px, $screens: $screens);
  @include tw-height(105, 105px, $screens: $screens);
  @include tw-height(110, 110px, $screens: $screens);
  @include tw-height(115, 115px, $screens: $screens);
  @include tw-height(120, 120px, $screens: $screens);
}
@media (min-width: $screen-xl) {
  $screens: 'xl';
  @include tw-height(0, 0px, $screens: $screens);
  @include tw-height(full, 100%, $screens: $screens);
  @include tw-height(screen, 100vh, $screens: $screens);
  // Pixel
  @include tw-height(0, 0px, $screens: $screens);
  @include tw-height(5, 5px, $screens: $screens);
  @include tw-height(10, 10px, $screens: $screens);
  @include tw-height(15, 15px, $screens: $screens);
  @include tw-height(20, 20px, $screens: $screens);
  @include tw-height(25, 25px, $screens: $screens);
  @include tw-height(30, 30px, $screens: $screens);
  @include tw-height(35, 35px, $screens: $screens);
  @include tw-height(40, 40px, $screens: $screens);
  @include tw-height(45, 45px, $screens: $screens);
  @include tw-height(50, 50px, $screens: $screens);
  @include tw-height(55, 55px, $screens: $screens);
  @include tw-height(60, 60px, $screens: $screens);
  @include tw-height(65, 65px, $screens: $screens);
  @include tw-height(70, 70px, $screens: $screens);
  @include tw-height(75, 75px, $screens: $screens);
  @include tw-height(80, 80px, $screens: $screens);
  @include tw-height(85, 85px, $screens: $screens);
  @include tw-height(90, 90px, $screens: $screens);
  @include tw-height(95, 95px, $screens: $screens);
  @include tw-height(100, 100px, $screens: $screens);
  @include tw-height(105, 105px, $screens: $screens);
  @include tw-height(110, 110px, $screens: $screens);
  @include tw-height(115, 115px, $screens: $screens);
  @include tw-height(120, 120px, $screens: $screens);
}

/*
 * Min height
**/
@include tw-min-height(0, 0px);
@include tw-min-height(full, 100%);
@include tw-min-height(screen, 100vh);

/*
 * Max height
**/
@include tw-max-height(0, 0px);
@include tw-max-height(none, none);
@include tw-max-height(full, 100%);
@include tw-max-height(screen, 100vh);

/*
 * Ratio
**/
@include tw-ratio('1\/2', (1 / 2 * 100%));
@include tw-ratio('9\/16', (9 / 16 * 100%));
@include tw-ratio('2\/3', (2 / 3 * 100%));
@include tw-ratio('3\/4', (3 / 4 * 100%));
@include tw-ratio('5\/4', (5 / 4 * 100%));
@include tw-ratio('3\/2', (3 / 2 * 100%));
@include tw-ratio('7\/4', (7 / 4 * 100%));
@include tw-ratio('2\/1', (2 / 1 * 100%));
