/*
 * Margin
**/
@each $name, $value in map.get($spacing, "margin") {
  @include tw-mixins($selector: ml-#{$name}) {
    margin-left: $value;
  }
  @include tw-mixins($selector: mr-#{$name}) {
    margin-right: $value;
  }
  @include tw-mixins($selector: mt-#{$name}) {
    margin-top: $value;
  }
  @include tw-mixins($selector: mb-#{$name}) {
    margin-bottom: $value;
  }
  @include tw-mixins($selector: mx-#{$name}) {
    margin-left: $value;
    margin-right: $value;
  }
  @include tw-mixins($selector: my-#{$name}) {
    margin-top: $value;
    margin-bottom: $value;
  }
  @include tw-mixins($selector: m-#{$name}) {
    margin: $value;
  }

  @if $name != "auto" {
    @include tw-mixins($selector: -ml-#{$name}) {
      margin-left: -$value;
    }
    @include tw-mixins($selector: -mr-#{$name}) {
      margin-right: -$value;
    }
    @include tw-mixins($selector: -mt-#{$name}) {
      margin-top: -$value;
    }
    @include tw-mixins($selector: -mb-#{$name}) {
      margin-bottom: -$value;
    }
    @include tw-mixins($selector: -mx-#{$name}) {
      margin-left: -$value;
      margin-right: -$value;
    }
    @include tw-mixins($selector: -my-#{$name}) {
      margin-top: -$value;
      margin-bottom: -$value;
    }
    @include tw-mixins($selector: -m-#{$name}) {
      margin: -$value;
    }
  }
}
@each $screen-name, $screen-value in $screens {
  @media (min-width: $screen-value) {
    @each $name, $value in map.get($spacing, "margin") {
      @include tw-mixins($selector: ml-#{$name}, $screen: $screen-name) {
        margin-left: $value;
      }
      @include tw-mixins($selector: mr-#{$name}, $screen: $screen-name) {
        margin-right: $value;
      }
      @include tw-mixins($selector: mt-#{$name}, $screen: $screen-name) {
        margin-top: $value;
      }
      @include tw-mixins($selector: mb-#{$name}, $screen: $screen-name) {
        margin-bottom: $value;
      }
      @include tw-mixins($selector: mx-#{$name}, $screen: $screen-name) {
        margin-left: $value;
        margin-right: $value;
      }
      @include tw-mixins($selector: my-#{$name}, $screen: $screen-name) {
        margin-top: $value;
        margin-bottom: $value;
      }
      @include tw-mixins($selector: m-#{$name}, $screen: $screen-name) {
        margin: $value;
      }

      @if $name != "auto" {
        @include tw-mixins($selector: -ml-#{$name}, $screen: $screen-name) {
          margin-left: -$value;
        }
        @include tw-mixins($selector: -mr-#{$name}, $screen: $screen-name) {
          margin-right: -$value;
        }
        @include tw-mixins($selector: -mt-#{$name}, $screen: $screen-name) {
          margin-top: -$value;
        }
        @include tw-mixins($selector: -mb-#{$name}, $screen: $screen-name) {
          margin-bottom: -$value;
        }
        @include tw-mixins($selector: -mx-#{$name}, $screen: $screen-name) {
          margin-left: -$value;
          margin-right: -$value;
        }
        @include tw-mixins($selector: -my-#{$name}, $screen: $screen-name) {
          margin-top: -$value;
          margin-bottom: -$value;
        }
        @include tw-mixins($selector: -m-#{$name}, $screen: $screen-name) {
          margin: -$value;
        }
      }
    }
  }
}

/*
 * Padding
**/
@each $name, $value in map.get($spacing, "ratio") {
  @include tw-mixins($selector: ratio-#{$name}) {
    padding-top: $value;
  }
}
@each $name, $value in map.get($spacing, "padding") {
  @include tw-mixins($selector: pl-#{$name}) {
    padding-left: $value;
  }
  @include tw-mixins($selector: pr-#{$name}) {
    padding-right: $value;
  }
  @include tw-mixins($selector: pt-#{$name}) {
    padding-top: $value;
  }
  @include tw-mixins($selector: pb-#{$name}) {
    padding-bottom: $value;
  }
  @include tw-mixins($selector: px-#{$name}) {
    padding-left: $value;
    padding-right: $value;
  }
  @include tw-mixins($selector: py-#{$name}) {
    padding-top: $value;
    padding-bottom: $value;
  }
  @include tw-mixins($selector: p-#{$name}) {
    padding: $value;
  }
}
@each $screen-name, $screen-value in $screens {
  @media (min-width: $screen-value) {
    @each $name, $value in map.get($spacing, "padding") {
      @include tw-mixins($selector: pl-#{$name}, $screen: $screen-name) {
        padding-left: $value;
      }
      @include tw-mixins($selector: pr-#{$name}, $screen: $screen-name) {
        padding-right: $value;
      }
      @include tw-mixins($selector: pt-#{$name}, $screen: $screen-name) {
        padding-top: $value;
      }
      @include tw-mixins($selector: pb-#{$name}, $screen: $screen-name) {
        padding-bottom: $value;
      }
      @include tw-mixins($selector: px-#{$name}, $screen: $screen-name) {
        padding-left: $value;
        padding-right: $value;
      }
      @include tw-mixins($selector: py-#{$name}, $screen: $screen-name) {
        padding-top: $value;
        padding-bottom: $value;
      }
      @include tw-mixins($selector: p-#{$name}, $screen: $screen-name) {
        padding: $value;
      }
    }
  }
}
