/*
 * Border collapse
**/
@each $name, $value in map.get($table, "border-collapse") {
  @include tw-mixins($selector: border-#{$name}) {
    border-collapse: $value;
  }
}

/*
 * Table layout
**/
@each $name, $value in map.get($table, "layout") {
  @include tw-mixins($selector: table-#{$name}) {
    table-layout: $value;
  }
}
