/*
 * Transform origin
**/
@each $name, $value in map.get($transform, "origin") {
  @include tw-mixins($selector: origin-#{$name}) {
    transform-origin: $value;
  }
}

/*
 * Transform scale
**/
@each $name, $value in map.get($transform, "scale") {
  @include tw-mixins($selector: scale-#{$name}, $hover: true) {
    transform: scale($value);
  }
  @include tw-mixins($selector: scale-x-#{$name}, $hover: true) {
    transform: scaleX($value);
  }
  @include tw-mixins($selector: scale-y-#{$name}, $hover: true) {
    transform: scaleY($value);
  }
}

/*
 * Transform rotate
**/
@each $name, $value in map.get($transform, "rotate") {
  @include tw-mixins($selector: rotate-#{$name}) {
    transform: rotate($value);
  }
  @include tw-mixins($selector: -rotate-#{$name}) {
    transform: rotate(-$value);
  }
}

/*
 * Transform translate
**/
@each $name, $value in map.get($transform, "translate") {
  @include tw-mixins($selector: translate-#{$name}) {
    transform: translate($value, $value);
  }
  @include tw-mixins($selector: translate-x-#{$name}) {
    transform: translateX($value);
  }
  @include tw-mixins($selector: translate-y-#{$name}) {
    transform: translateY($value);
  }

  @if $name != "0" {
    @include tw-mixins($selector: -translate-#{$name}) {
      transform: translate(-$value, -$value);
    }
    @include tw-mixins($selector: -translate-x-#{$name}) {
      transform: translateX(-$value);
    }
    @include tw-mixins($selector: -translate-y-#{$name}) {
      transform: translateY(-$value);
    }
  }
}
@each $screen-name, $screen-value in $screens {
  @media (min-width: $screen-value) {
    @each $name, $value in map.get($transform, "translate") {
      @include tw-mixins($selector: translate-#{$name}, $screen: $screen-name) {
        transform: translate($value, $value);
      }
      @include tw-mixins($selector: translate-x-#{$name}, $screen: $screen-name) {
        transform: translateX($value);
      }
      @include tw-mixins($selector: translate-y-#{$name}, $screen: $screen-name) {
        transform: translateY($value);
      }
    
      @if $name != "0" {
        @include tw-mixins($selector: -translate-#{$name}, $screen: $screen-name) {
          transform: translate(-$value, -$value);
        }
        @include tw-mixins($selector: -translate-x-#{$name}, $screen: $screen-name) {
          transform: translateX(-$value);
        }
        @include tw-mixins($selector: -translate-y-#{$name}, $screen: $screen-name) {
          transform: translateY(-$value);
        }
      }
    }
  }
}