/*
 * Border Radius Maps
**/
$tw-border-radius-maps: (
  rounded: border,
  rounded-tl: border-top-left,
  rounded-tr: border-top-right,
  rounded-bl: border-bottom-left,
  rounded-br: border-bottom-right,
  rounded-l: border-top-left,
  border-bottom-left,
  rounded-r: border-top-right,
  border-bottom-right,
  rounded-t: border-top-left,
  border-top-right,
  rounded-b: border-bottom-left,
  border-bottom-right,
);

/*
 * Border Width/Style/Color Maps
**/
$tw-border-wsc-maps: (
  border: border,
  border-l: border-left,
  border-r: border-right,
  border-t: border-top,
  border-b: border-bottom,
  border-x: border-left,
  border-right,
  border-y: border-top,
  border-bottom,
);

/*
 * Border radius
**/
@mixin tw-border-radius($selector, $value, $hover: false, $focus: false, $screens: false) {
  @each $name, $values in $tw-border-radius-maps {
    @each $value in $values {
      @include tw-mixins('#{name}-#{$selector}', '#{value}-radius', $value, $hover, $focus, $screens);
    }
  }
  // @include tw-mixins('rounded-#{$selector}', border-radius, $value, $hover, $focus, $screens);

  // @include tw-mixins('rounded-tl-#{$selector}', border-top-left-radius, $value, $hover, $focus, $screens);
  // @include tw-mixins('rounded-tr-#{$selector}', border-top-right-radius, $value, $hover, $focus, $screens);
  // @include tw-mixins('rounded-bl-#{$selector}', border-bottom-left-radius, $value, $hover, $focus, $screens);
  // @include tw-mixins('rounded-br-#{$selector}', border-bottom-right-radius, $value, $hover, $focus, $screens);

  // @include tw-mixins('rounded-l-#{$selector}', border-top-left-radius, $value, $hover, $focus, $screens);
  // @include tw-mixins('rounded-l-#{$selector}', border-bottom-left-radius, $value, $hover, $focus, $screens);

  // @include tw-mixins('rounded-r-#{$selector}', border-top-right-radius, $value, $hover, $focus, $screens);
  // @include tw-mixins('rounded-r-#{$selector}', border-bottom-right-radius, $value, $hover, $focus, $screens);

  // @include tw-mixins('rounded-t-#{$selector}', border-top-left-radius, $value, $hover, $focus, $screens);
  // @include tw-mixins('rounded-t-#{$selector}', border-top-right-radius, $value, $hover, $focus, $screens);

  // @include tw-mixins('rounded-b-#{$selector}', border-bottom-left-radius, $value, $hover, $focus, $screens);
  // @include tw-mixins('rounded-b-#{$selector}', border-bottom-right-radius, $value, $hover, $focus, $screens);
}

/*
 * Border width
**/
@mixin tw-border-width($selector, $value, $hover: false, $focus: false, $screens: false) {
  @each $name, $values in $border-maps {
    @each $value in $values {
      @include tw-mixins('#{name}-#{$selector}', '#{value}-radius', $value, $hover, $focus, $screens);
    }
  }
  // @include tw-mixins('border-l-#{$selector}', border-left-width, $value, $hover, $focus, $screens);
  // @include tw-mixins('border-r-#{$selector}', border-right-width, $value, $hover, $focus, $screens);
  // @include tw-mixins('border-t-#{$selector}', border-top-width, $value, $hover, $focus, $screens);
  // @include tw-mixins('border-b-#{$selector}', border-bottom-width, $value, $hover, $focus, $screens);

  // @include tw-mixins('border-x-#{$selector}', border-left-width, $value, $hover, $focus, $screens);
  // @include tw-mixins('border-x-#{$selector}', border-right-width, $value, $hover, $focus, $screens);

  // @include tw-mixins('border-y-#{$selector}', border-top-width, $value, $hover, $focus, $screens);
  // @include tw-mixins('border-y-#{$selector}', border-bottom-width, $value, $hover, $focus, $screens);

  // @include tw-mixins('border-#{$selector}', border-width, $value, $hover, $focus, $screens);
}

/*
 * Border color
**/
@mixin tw-border-color($selector, $value, $hover: false, $focus: false, $screens: false) {
  @each $name, $values in $border-maps {
    @each $value in $values {
      @include tw-mixins('#{name}-#{$selector}', '#{value}-radius', $value, $hover, $focus, $screens);
    }
  }

  @include tw-mixins('border-l-#{$selector}', border-left-color, $value, $hover, $focus, $screens);
  @include tw-mixins('border-r-#{$selector}', border-right-color, $value, $hover, $focus, $screens);
  @include tw-mixins('border-t-#{$selector}', border-top-color, $value, $hover, $focus, $screens);
  @include tw-mixins('border-b-#{$selector}', border-bottom-color, $value, $hover, $focus, $screens);

  @include tw-mixins('border-x-#{$selector}', border-left-color, $value, $hover, $focus, $screens);
  @include tw-mixins('border-x-#{$selector}', border-right-color, $value, $hover, $focus, $screens);

  @include tw-mixins('border-y-#{$selector}', border-top-color, $value, $hover, $focus, $screens);
  @include tw-mixins('border-y-#{$selector}', border-bottom-color, $value, $hover, $focus, $screens);

  @include tw-mixins('border-#{$selector}', border-color, $value, $hover, $focus, $screens);
}

/*
 * Border color
**/
@mixin tw-border-style($selector, $value, $hover: false, $focus: false, $screens: false) {
  // @include tw-mixins(
  //   "border-l-#{$selector}",
  //   border-left-style,
  //   $value,
  //   $hover,
  //   $focus,
  //   $screens
  // );
  // @include tw-mixins(
  //   "border-r-#{$selector}",
  //   border-right-style,
  //   $value,
  //   $hover,
  //   $focus,
  //   $screens
  // );
  // @include tw-mixins(
  //   "border-t-#{$selector}",
  //   border-top-style,
  //   $value,
  //   $hover,
  //   $focus,
  //   $screens
  // );
  // @include tw-mixins(
  //   "border-b-#{$selector}",
  //   border-bottom-style,
  //   $value,
  //   $hover,
  //   $focus,
  //   $screens
  // );

  // @include tw-mixins(
  //   "border-x-#{$selector}",
  //   border-left-style,
  //   $value,
  //   $hover,
  //   $focus,
  //   $screens
  // );
  // @include tw-mixins(
  //   "border-x-#{$selector}",
  //   border-right-style,
  //   $value,
  //   $hover,
  //   $focus,
  //   $screens
  // );

  // @include tw-mixins(
  //   "border-y-#{$selector}",
  //   border-top-style,
  //   $value,
  //   $hover,
  //   $focus,
  //   $screens
  // );
  // @include tw-mixins(
  //   "border-y-#{$selector}",
  //   border-bottom-style,
  //   $value,
  //   $hover,
  //   $focus,
  //   $screens
  // );

  // @include tw-mixins(
  //   "border-#{$selector}",
  //   border-style,
  //   $value,
  //   $hover,
  //   $focus,
  //   $screens
  // );
}
