/*
 * Margin Maps
**/
$margin-maps: (
  m: margin,
  ml:margin-left,
  mr:margin-right,
  mt:margin-top,
  mb:margin-bottom,
  mx:margin-left margin-right,
  my:margin-top margin-bottom,
);
/*
 * Padding Maps
**/
$padding-maps: (

);
/*
 * Spacing
**/
@mixin tw-spacing($selector, $value, $hover: false, $focus: false, $screens: false, $minus: true) {
  @include tw-margin($selector, $value, $hover, $focus, $screens, $minus);
  @include tw-padding($selector, $value, $hover, $focus, $screens, $minus);
}

/*
 * Margin
**/
@mixin tw-margin($selector, $value, $hover: false, $focus: false, $screens: false, $minus: false) {
  @include tw-mixins('m-#{$selector}', margin, $value, $hover, $focus, $screens);
  @include tw-mixins('ml-#{$selector}', margin-left, $value, $hover, $focus, $screens);
  @include tw-mixins('mr-#{$selector}', margin-right, $value, $hover, $focus, $screens);
  @include tw-mixins('mt-#{$selector}', margin-top, $value, $hover, $focus, $screens);
  @include tw-mixins('mb-#{$selector}', margin-bottom, $value, $hover, $focus, $screens);

  @include tw-mixins('mx-#{$selector}', margin-left, $value, $hover, $focus, $screens);
  @include tw-mixins('mx-#{$selector}', margin-right, $value, $hover, $focus, $screens);

  @include tw-mixins('my-#{$selector}', margin-top, $value, $hover, $focus, $screens);
  @include tw-mixins('my-#{$selector}', margin-bottom, $value, $hover, $focus, $screens);
}
@mixin tw-margin($selector, $value, $hover: false, $focus: false, $screens: false, $minus: false) when ($minus) {
  @include tw-mixins('-m-#{$selector}', margin, '-#{$value}', $hover, $focus, $screens);
  @include tw-mixins('-ml-#{$selector}', margin-left, '-#{$value}', $hover, $focus, $screens);
  @include tw-mixins('-mr-#{$selector}', margin-right, '-#{$value}', $hover, $focus, $screens);
  @include tw-mixins('-mt-#{$selector}', margin-top, '-#{$value}', $hover, $focus, $screens);
  @include tw-mixins('-mb-#{$selector}', margin-bottom, '-#{$value}', $hover, $focus, $screens);

  @include tw-mixins('-mx-#{$selector}', margin-left, '-#{$value}', $hover, $focus, $screens);
  @include tw-mixins('-mx-#{$selector}', margin-right, '-#{$value}', $hover, $focus, $screens);

  @include tw-mixins('-my-#{$selector}', margin-top, '-#{$value}', $hover, $focus, $screens);
  @include tw-mixins('-my-#{$selector}', margin-bottom, '-#{$value}', $hover, $focus, $screens);
}

/*
 * Padding
**/
@mixin tw-padding($selector, $value, $hover: false, $focus: false, $screens: false, $minus: false) {
  @include tw-mixins('p-#{$selector}', padding, $value, $hover, $focus, $screens);
  @include tw-mixins('pl-#{$selector}', padding-left, $value, $hover, $focus, $screens);
  @include tw-mixins('pr-#{$selector}', padding-right, $value, $hover, $focus, $screens);
  @include tw-mixins('pt-#{$selector}', padding-top, $value, $hover, $focus, $screens);
  @include tw-mixins('pb-#{$selector}', padding-bottom, $value, $hover, $focus, $screens);

  @include tw-mixins('px-#{$selector}', padding-left, $value, $hover, $focus, $screens);
  @include tw-mixins('px-#{$selector}', padding-right, $value, $hover, $focus, $screens);

  @include tw-mixins('py-#{$selector}', padding-top, $value, $hover, $focus, $screens);
  @include tw-mixins('py-#{$selector}', padding-bottom, $value, $hover, $focus, $screens);
}
