/*
 * Transform origin
**/
@mixin tw-transform-origin($selector, $value, $hover: false, $focus: false, $screens: false) {
  $properties-values: (
    transform-origin: $value,
  );
  @include tw-mixins('origin-#{$selector}', $properties-values, $hover, $focus, $screens);
}

/*
 * Transform scale
**/
@mixin tw-transform-scale($selector, $value, $hover: false, $focus: false, $screens: false) {
  $transform-scale-maps: (
    scale: scale,
    scale-x: scaleX,
    scale-y: scaleY,
  );
  @each $nameFix, $valueFix in $transform-scale-maps {
    $properties-values: (
      transform: #{'#{$valueFix}(#{$value})'},
    );
    @include tw-mixins('#{$nameFix}-#{$selector}', $properties-values, $hover, $focus, $screens);
  }
}

/*
 * Transform rotate
**/
@mixin tw-transform-rotate($selector, $value, $hover: false, $focus: false, $screens: false, $minus: false) {
  $properties-values: (
    transform: #{'rotate(#{$value})'},
  );
  @include tw-mixins('rotate-#{$selector}', $properties-values, $hover, $focus, $screens);

  @if $minus {
    $properties-values-minus: (
      transform: #{'rotate(-#{$value})'},
    );
    @include tw-mixins('-rotate-#{$selector}', $properties-values-minus, $hover, $focus, $screens);
  }
}

/*
 * Transform translate
**/
@mixin tw-transform-translate($selector, $value, $hover: false, $focus: false, $screens: false, $minus: false) {
  $translate-properties-values: (
    transform: #{'translate(#{$value}, #{$value})'},
  );
  $translate-x-properties-values: (
    transform: #{'translateX(#{$value})'},
  );
  $translate-y-properties-values: (
    transform: #{'translateY(#{$value})'},
  );

  @include tw-mixins('translate-#{$selector}', $translate-properties-values, $hover, $focus, $screens);
  @include tw-mixins('translate-x-#{$selector}', $translate-x-properties-values, $hover, $focus, $screens);
  @include tw-mixins('translate-y-#{$selector}', $translate-y-properties-values, $hover, $focus, $screens);

  @if $minus {
    $translate-properties-values-minus: (
      transform: #{'translate(-#{$value}, -#{$value})'},
    );
    $translate-x-properties-values-minus: (
      transform: #{'translateX(-#{$value})'},
    );
    $translate-y-properties-values-minus: (
      transform: #{'translateY(-#{$value})'},
    );

    @include tw-mixins('-translate-#{$selector}', $translate-properties-values-minus, $hover, $focus, $screens);
    @include tw-mixins('-translate-x-#{$selector}', $translate-x-properties-values-minus, $hover, $focus, $screens);
    @include tw-mixins('-translate-y-#{$selector}', $translate-y-properties-values-minus, $hover, $focus, $screens);
  }
}
