/*
 * Font size
**/
@mixin tw-font-size($selector, $value, $hover: false, $focus: false, $screens: false) {
  $properties-values: (
    font-size: $value,
  );
  @include tw-mixins('text-#{$selector}', $properties-values, $hover, $focus, $screens);
}

/*
 * Font style
**/
@mixin tw-font-style($selector, $value, $hover: false, $focus: false, $screens: false) {
  $properties-values: (
    font-style: $value,
  );
  @include tw-mixins('#{$selector}', $properties-values, $hover, $focus, $screens);
}

/*
 * Font weight
**/
@mixin tw-font-weight($selector, $value, $hover: false, $focus: false, $screens: false) {
  $properties-values: (
    font-weight: $value,
  );
  @include tw-mixins('font-#{$selector}', $properties-values, $hover, $focus, $screens);
}

/*
 * Letter sapcing
**/
@mixin tw-letter-spacing($selector, $value, $hover: false, $focus: false, $screens: false) {
  $properties-values: (
    letter-spacing: $value,
  );
  @include tw-mixins('tracking-#{$selector}', $properties-values, $hover, $focus, $screens);
}

/*
 * Line height
**/
@mixin tw-line-height($selector, $value, $hover: false, $focus: false, $screens: false) {
  $properties-values: (
    line-height: $value,
  );
  @include tw-mixins('leading-#{$selector}', $properties-values, $hover, $focus, $screens);
}

/*
 * List style type
**/
@mixin tw-list-style-type($selector, $value, $hover: false, $focus: false, $screens: false) {
  $properties-values: (
    list-style-type: $value,
  );
  @include tw-mixins('list-#{$selector}', $properties-values, $hover, $focus, $screens);
}

/*
 * List style position
**/
@mixin tw-list-style-position($selector, $value, $hover: false, $focus: false, $screens: false) {
  $properties-values: (
    list-style-position: $value,
  );
  @include tw-mixins('list-#{$selector}', $properties-values, $hover, $focus, $screens);
}

/*
 * Text align
**/
@mixin tw-text-align($selector, $value, $hover: false, $focus: false, $screens: false) {
  $properties-values: (
    text-align: $value,
  );
  @include tw-mixins('text-#{$selector}', $properties-values, $hover, $focus, $screens);
}

/*
 * Text color
**/
@mixin tw-text-color($selector, $value, $hover: false, $focus: false, $screens: false) {
  $properties-values: (
    color: $value,
  );
  @include tw-mixins('text-#{$selector}', $properties-values, $hover, $focus, $screens);
}

/*
 * Text decoration
**/
@mixin tw-text-decoration($selector, $value, $hover: false, $focus: false, $screens: false) {
  $properties-values: (
    text-decoration: $value,
  );
  @include tw-mixins('#{$selector}', $properties-values, $hover, $focus, $screens);
}

/*
 * Text transform
**/
@mixin tw-text-transform($selector, $value, $hover: false, $focus: false, $screens: false) {
  $properties-values: (
    text-transform: $value,
  );
  @include tw-mixins('#{$selector}', $properties-values, $hover, $focus, $screens);
}

/*
 * Text overflow
**/
@mixin tw-text-overflow($selector, $value, $hover: false, $focus: false, $screens: false) {
  @if $selector == 1 {
    $properties-values: (
      overflow: hidden #{'!important'},
      text-overflow: ellipsis,
      white-space: nowrap,
    );

    @include tw-mixins('truncate-#{$selector}', $properties-values, $hover, $focus, $screens);
  } @else if $selector > 1 {
    $properties-values: (
      display: -webkit-box,
      -webkit-box-orient: vertical,
      overflow: hidden #{'!important'},
      -webkit-line-clamp: vertical,
      height: $line-height-default * $value * 1em,
    );

    @include tw-mixins('truncate-#{$selector}', $properties-values, $hover, $focus, $screens);
  }
}

/*
 * Vertical align
**/
@mixin tw-vertical-align($selector, $value, $hover: false, $focus: false, $screens: false) {
  $properties-values: (
    vertical-align: $value,
  );
  @include tw-mixins('align-#{$selector}', $properties-values, $hover, $focus, $screens);
}

/*
 * White space
**/
@mixin tw-white-space($selector, $value, $hover: false, $focus: false, $screens: false) {
  $properties-values: (
    white-space: $value,
  );
  @include tw-mixins('whitespace-#{$selector}', $properties-values, $hover, $focus, $screens);
}

/*
 * White space
**/
@mixin tw-word-break($selector, $value, $hover: false, $focus: false, $screens: false) {
  @if $selector == all {
    $properties-values: (
      word-break: $value,
    );

    @include tw-mixins('break-#{$selector}', $properties-values, $hover, $focus, $screens);
  } @else {
    $properties-values: (
      overflow-wrap: $value,
    );

    @include tw-mixins('break-#{$selector}', $properties-values, $hover, $focus, $screens);
  }
}
