$animate: (
  "animation": (
    "none": none,
    "spin": spin 1s linear infinite,
    "ping": ping 1s cubic-bezier(0, 0, 0.2, 1) infinite,
    "pulse": pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite,
    "bounce": bounce 1s infinite,
  ),
  "transition": (
    "none": none,
    "all": all,
    "normal": #{background-color, border-color, color, fill, stroke, opacity, box-shadow, transform},
    "color": color,
    "opacity": opacity,
    "shadow": shadow,
    "transform": transform,
  ),
  "transition-duration": (
    "75": 75ms,
    "100": 100ms,
    "150": 150ms,
    "200": 200ms,
    "300": 300ms,
    "500": 500ms,
    "700": 700ms,
    "1000": 1000ms,
  ),
  "transition-timing-function": (
    "ease-linear": linear,
    "ease-in": cubic-bezier(0.4, 0, 1, 1),
    "ease-out": cubic-bezier(0, 0, 0.2, 1),
    "ease-in-out": cubic-bezier(0.4, 0, 0.2, 1),
  ),
  "transition-delay": (
    "75": 75ms,
    "100": 100ms,
    "150": 150ms,
    "200": 200ms,
    "300": 300ms,
    "500": 500ms,
    "700": 700ms,
    "1000": 1000ms,
  ),
);