$flexbox: (
  "flex-direction": (
    "row": row,
    "row-reverse": row-reverse,
    "col": column,
    "col-reverse": column-reverse,
  ),
  "flex-wrap": (
    "wrap": wrap,
    "wrap-reverse": wrap-reverse,
    "nowrap": nowrap,
  ),
  "flex-grow": (
    "grow-0": 0,
    "grow": 1,
  ),
  "flex-shrink": (
    "shrink-0": 0,
    "shrink": 1,
  ),
  "flex": (
    "1": 1 1 0%,
    "auto": 1 1 auto,
    "initial": 0 1 auto,
    "none": none,
  ),
  "justify-content": (
    "start": flex-start,
    "end": flex-end,
    "center": center,
    "between": space-between,
    "around": space-around,
    "evenly": space-evenly,
  ),
  "align-content": (
    "start": flex-start,
    "end": flex-end,
    "center": center,
    "between": space-between,
    "around": space-around,
    "evenly": space-evenly,
  ),
  "place-content": (
    "start": flex-start,
    "end": flex-end,
    "center": center,
    "between": space-between,
    "around": space-around,
    "evenly": space-evenly,
    "stretch": stretch,
  ),
  "align-items": (
    "start": flex-start,
    "end": flex-end,
    "center": center,
    "baseline": baseline,
    "stretch": stretch,
  ),
  "align-self": (
    "start": flex-start,
    "end": flex-end,
    "center": center,
    "baseline": baseline,
    "stretch": stretch,
  ),
  "justify-items": (
    "start": start,
    "end": end,
    "center": center,
    "auto": auto,
    "stretch": stretch,
  ),
  "justify-self": (
    "start": start,
    "end": end,
    "center": center,
    "auto": auto,
    "stretch": stretch,
  ),
  "place-items": (
    "start": start,
    "end": end,
    "center": center,
    "auto": auto,
    "stretch": stretch,
  ),
  "place-self": (
    "start": start,
    "end": end,
    "center": center,
    "auto": auto,
    "stretch": stretch,
  ),
);

$flexbox-order: (
  "first": -999,
  "last": 999,
  "none": none,
);
@for $var from 1 to 13 {
  $flexbox-order: map.merge(
    $flexbox-order,
    (
      "#{$var}": $var,
    )
  );
}

$flexbox: map.merge(
  $flexbox,
  (
    "order": $flexbox-order,
  )
);
