$interactivity: (
  "cursor": (
    "auto": auto,
    "default": default,
    "pointer": pointer,
    "text": text,
    "move": move,
    "not-allowed": not-allowed,
  ),
  "outline": (
    "none": transparent,
    "white": #fff,
    "black": #000,
  ),
  "pointer-events": (
    "none": none,
    "auto": auto,
  ),
  "resize": (
    "resize-none": none,
    "resize-y": vertical,
    "resize-x": horizontal,
    "resize": both,
  ),
  "user-select": (
    "none": none,
    "text": text,
    "all": all,
    "auto": auto,
  ),
);
